body { padding-top: 50px; }



/* generic areas */
h4 {font-size: 16px;}


/* specific areas */
.zhero {background-color:#999; position:relative;}
.zhero:before {content:""; background-color:transparent; opacity:0.8; position:absolute; top:0; left:0; right:0; bottom:0;} /* add background image here */
.zhero-textbox {color:#fff; margin-top:110px;}
.zhero-textbox-byline {border-bottom:1px solid #ccc; color:#e7e7e7; font-size:14px; padding-bottom:15px; letter-spacing:1px;}
.zhero-textbox-byline-highlight {color:#ffff00;}
.zhero-textbox-headline {margin-top:0px !important; font-Size:50px;}

.zhero-cta {background-color:#0054ff;  padding-left:70px; padding-right:70px; margin-top:10px;font-weight:bold;}
.zhero-phone-example .zhero-device-image {postion:relative; height:500px; margin-top:30px; width:435px; background-repeat: no-repeat; background-image:url('../images/hand.png'); background-size:435px 500px;}
.zhero-phone-example .zhero-device-screen {background-color:#ffff66; width:183px; height:320px; position:absolute; top:61px; left:72px; border:2px solid #000;}
.zhero-phone-example .zhero-device-screen-headline {font-size:48px; font-weight: bold; padding:100px 10px;}
.zhero-phone-example .zhero-video-container {position:absolute; overflow:hidden;top:0; left:0; width:100%; height: 530px;}
.zhero-phone-example .zhero-video-container video {position:absolute; top:-20%; width:100%;}


.zhero-computer-example .zhero-device-image {postion:relative; height:398px; margin-top:48px; margin-bottom:-30px; margin-left:20px; width:478px; background-repeat: no-repeat; background-image:url('../images/computer-noscreen.svg'); background-size: contain;}
.zhero-computer-example .zhero-device-screen {background-color:#ffff66; width:436px; height:244px; position:absolute; top:21px; left:21px; border:2px solid #000;}
.zhero-computer-example .zhero-device-screen-headline {font-size:48px; font-weight: bold; padding:78px 20px;}
.zhero-computer-example .zhero-textbox {margin-top:50px;}
.zhero-computer-example .zhero-video-container {position:absolute; overflow:hidden;top:0; left:0; width:100%; height: 416px;}
.zhero-computer-example .zhero-video-container video {position:absolute; top:-50%; left;0; width:100%;}

.zhero-coverimage-example {background: #000; height: calc(100vh - 50px);} 
.zhero-coverimage-example .zhero-video-container {display:none;}
.zhero-coverimage-example .zhero-device-image {display:none;}


.zhero-scrollhint { transition:background 300ms; display:inline-block; margin-top:30px; padding:10px 20px; background-color:rgba(255,255,255,0.15); color:#fff; border-radius:12px; }
.zhero-scrollhint .glyphicon-chevron-down {transition:top 300ms; font-size:25px; line-height:0; position:relative; top:6px;}
.zhero-scrollhint-label {position:relative; font-size:18px; font-weight:bold; color:rgba(255,255,255,0.5); padding-left:10px;}
.zhero-scrollhint:hover {color:#fff; text-decoration:none; cursor:pointer; background-color: rgba(0,0,0,0.1);}
.zhero-scrollhint:hover .glyphicon-chevron-down {top:8px;}


.zwide-gallery {background-color:#ededed; margin-top:20px; padding-top:30px; padding-bottom:30px;}
.zwide-gallery img {border: 1px solid #ccc;}
.zwide-gallery-caption {font-size:23px; font-weight:200; line-height:130%; margin-top:15px; margin-bottom:-10px;}
.zwide-gallery-caption a {font-weight:bold; text-decoration:underline;}
.galleryrow {margin-bottom:40px ;}

.dense-gallery {background-color:#e2e2e2;  margin-bottom:40px;}
.dense-gallery  .row .col-xs-4 {padding:0 15px 15px 0;}
.dense-gallery h2 {margin:20px 0 20px;}

.col-sm-4 > h3 {margin-top:0;} /* for modules with video, takes away weird gap above header */

.zoomable-thumbnail {cursor:pointer; box-shadow: 0px 0px 5px #999;}
.zoomable-thumbnail-wrapper:hover {box-shadow:  0 0px 0px 2px #428bca; }
.zoomable-thumbnail-wrapper:hover .glyphicon-search-container  {background-color:#046c98 !important;}
.modal-body .zoomable-thumbnail {box-shadow: none;}
.modal-body img {margin: 0 auto; padding:0; }
.modal-body {padding-top:0;}
.modal-header {border:0;}
.modal-content {background-color:transparent; box-shadow:none; border:none;}
.modal-title {color:#fff;}
.modal {background-color: rgba(0,0,0,0.75);}
.modal .close {color:#fff; opacity:1; background-color:rgba(255,255,255,0.2); border-radius:100px; width:30px; height:30px; position: static; top:10px; right:10px; float:right; }
.modal .close span:first-child {position:relative; top:-2px;}
.modal .close:hover {background-color:#666;}
.zoomable-thumbnail-wrapper {position:relative;}
.glyphicon-search-container { background-color:#428bca; 
	position: absolute;  border-radius:400px; padding:3px 6px 3px 5px; cursor:pointer;
	right:-7px; bottom:-9px; border:3px solid #fff; box-shadow:none; }
.glyphicon-search-container span {color:#fff; font-size:26px; position:relative; top:2px;}

.col-sm-4 ul  {margin-left:0; padding-left:16px; margin-top:-10px;}

.citation {font-size: 80%; position:relative; top:-3px; text-decoration:underline; font-weight:normal; padding:0 2px;}
em {font-weight:bold;}
h2 {color:#999; margin-top:50px;}
h1 {margin-top:80px !important; font-size:48px; }

p  {font-size:20px; line-height:160%; color:#333; font-weight:300; margin-bottom:20px;}
.col-xs-4 P, .col-sm-4 p {font-size:14px; margin-bottom:10px; line-height:140%;}
.col-xs-4 P + P {margin-top:-15px;}


.col-md-8 .col-sm-4 li  {font-size:14px; line-height:140%; color:#333; font-weight:300; margin-bottom:5px;}
.col-md-8 li {font-size: 20px; line-height:140%; margin-bottom:5px; color:#333; font-weight:300; }
.col-md-8 ul {margin-bottom:20px; padding-left:20px;}

.col-md-8 blockquote  {border-left:0; position:relative; margin: 140px 0 80px;;}
.col-md-8 blockquote:before {
  
    
    content: '“';
    font-size: 400px;
    position: absolute;
    Font-family: times, courier, serif;
    width: 70px;
    left: -80px;
    top: -140px;
    color: #efefef;
    z-index: 1;
    
}
.col-md-8 blockquote:after {

    content: '”';
    font-size: 400px;
    position: absolute;
    Font-family: times, courier, serif;
    width: 70px;
    right: 30px;
    top: -140px;
    color: #efefef;
    z-index: 1;
}


.col-md-8 blockquote p {font-size:36px;  margin-top:20px; font-weight:200; text-align:center; letter-spacing:0px; line-height: 115%;
	position:relative; z-index:10;}
.col-md-8 blockquote footer {font-size: 20px; font-weight:200; text-align:center; margin-top:-15px;}




/*zlist - used for competition*/
.col-xs-4 ul  {margin-left:0; padding-left:16px; margin-top:-10px;}
.col-xs-4 ul li {line-height:115%; margin-bottom:5px; font-size:14px;}
.ul-header {font-weight:bold !important; font-size:14px !important; margin-bottom: 13px !important; margin-top:10px;}
.competition-logo {margin-top:10px; padding-bottom: 10px !important;}


/* wireframes */
.callout-buttonbg {background-color:#ebebeb; border-radius:8px; padding:8px; margin:18px 0;}
.big-wireframe {border:1px solid #ccc;}
.callout-button {background-color:#428bcb; font-weight:bold; font-size:16px; color:#fff; 
	padding:8px 20px 10px; border-radius:8px; text-shadow:0 1px #333; 
	box-shadow: 0 1px #333, inset 0 1px #f5f5f5; border:0; display:inline-block; float:left;}
.callout-button:hover {background-color: #046c98; color:#fff;}
.callout-button-hint {padding-left:10px; font-size:14px; color:#999; display:inline-block; float:left; padding-top:11px;}
.callout-buttonbg:after {display:block; font-size:0; line-height:0; content:"."; color:transparent; clear:both;}

/* prototype */
.giant-cta {background-color:#428bcb; font-weight:bold; font-size:32px; 
	color:#fff; padding:10px 20px 10px 65px; border-radius:8px; text-shadow:0 1px #333; 
	box-shadow: 0 1px #333, inset 0 1px #f5f5f5; border:0;
	display:inline-block; position:relative; text-decoration:none;
	 }
.giant-cta:hover {color:white; text-decoration:none; background-color:#046c98;} 
.giant-cta:before { height:40px; position:absolute; left:10px; display:inline-block; top:12px;
	bottom:2px; background-image: url(../images/prompt.svg); content: ""; font-size:1; width:40px; }
.giant-cta:visited, .giant-cta:active, .giant-cta:link, .giant-cta:visited,  .giant-cta:focus   {color:white; text-decoration:none; }




/* footer */
.zpagefooter { background-color:#ccc; padding-top:50px; margin-top:70px;}
.zpagefooter .zcredit .thumb + p {display:inline-block;  max-width: 400px; margin-left:20px; font-size:16px; line-height:140%; 
					min-height:100px;}
.zpagefooter .zcredit p a {font-weight:bold;}
.zpagefooter .zcredit .thumb {width:80px; height:80px; border-radius:100px; border:1px solid #666; background-color:#fff;
	font-size:10px; text-align:center; float:left;  background-size: contain;}
.zpagefooter ul {margin-top:-20px;}
.zpagefooter p.footnote, .zpagefooter ul.footnote li {font-size: 12px;}

.finale { background-image: url("../images/starburst.svg");
	background-size:contain;
	text-align:Center; 
	background-repeat: no-repeat;
	background-position: center ;
	padding-bottom:80px;
	margin-top:60px;
	text-shadow:2px 2px #fff, -2px -2px #fff, -2px 2px #fff, 2px -2px #fff;
	}
.finale p {background-color:rgba(255,255,255,0.5);}

/* navigation */
.navbar {background-color:black;} 
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited {    color: #ccc; }
.navbar-default .navbar-nav>li>a:hover {text-decoration:underline;}
.navbar-default .navbar-brand {color:#666; font-weight:bold;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color:#333;
	color:#ccc;
}
.navbar-default .navbar-nav>li>a {transition:all 200ms;}
.navbar-default .navbar-nav>li>a:hover {background-color:#3366ff; color:#fff; text-decoration:none;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color:#003366;
}
.navbar-nav>li>.dropdown-menu {padding-top:0; padding-bottom:0;}
.dropdown-menu>li>a {transition:all 200ms; padding-top:5px; padding-bottom:5px;}
.dropdown-menu>li>a:hover {background-color: #3366ff; color:#fff;}

@media (max-width: 767px) { 
	.page-header {font-size: 30px; margin-top:70px !important; border-bottom:0;  margin-bottom:0;}
	.navbar-default .navbar-brand   {font-size: 14px;}
	.navbar-toggle {border:0;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color:#333;}
	.navbar-default .navbar-collapse {border-color:#333;}
	.navbar-default .navbar-nav>li>a:hover {
		background-color:#3366ff;
	}
	.navbar-nav {margin:0 -15px;}
	.navbar-nav .open .dropdown-menu	{padding-top:0; transition:all 2s;}
	.navbar-nav .open .dropdown-menu>li>a:hover {color:#fff !important; background-color:#3366ff !important; transition:all 300ms; }
	.navbar-nav .open .dropdown-menu>li>a {padding-top:10px; padding-bottom:10px;}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {max-height:none;}
	
	.zpagefooter .zcredit .thumb + p {max-width: calc(100% - 100px);}	
	.zhero-textbox {margin-top:20px; border:0;}
	.zhero-textbox-byline {border:0; margin-bottom:0; text-align:center;}
	.zhero-textbox-headline {font-size:30px; margin-top:0;text-align:center;}
	.zhero-textbox {text-align:center;}
	.zhero-scrollhint { margin-top: 10px;}
	.zhero-textbox-byline {font-size:12px; margin-bottom:0; padding-bottom:5px;}
	.zhero-phone-example .zhero-device-image { 
		text-align:center; margin-left: calc(( 100% / 2 ) - 165px ); 
		width: calc(100vw - (( 100% / 2 ) - 165px ) );	
	}
	.zhero-scrollhint {display:none;}
	
	.zhero-coverimage-example .container { position: relative;
		  top: 50%;
		  transform: translateY(-90%);}
	.zhero-coverimage-example .zhero-scrollhint {display:inline-block;}
	
	p {font-size: 16px; margin-bottom:13px;}
	.zwide-gallery {margin-top:0; padding-top:15px; padding-bottom:0px; margin:0 20px; }
	.glyphicon-search-container {display:none;}
	.zoomable-thumbnail {box-shadow: inset 5px 5px rgba(0,0,0,0.5);  }




	/* NEXT TWO CLASSE: margins in bootstrap are too sharp, this makes it a little wider to match line spacing */
	div.col-xs-12 { padding-left: 20px; padding-right:20px; } 
	div.col-xs-12 .row { margin-left:-20px; margin-right:-20px;}
	.col-xs-12 p { font-size:16px; line-height:160%;}
	.col-xs-12 h4 { font-weight:bold; font-size:16px; line-height:160%; margin: 15px 0px 7px;
		}

	p.zwide-gallery-caption { padding:0; margin-top:0px; margin-bottom:15px; line-height:120%; margin-left:25px; position:relative;}
	p.zwide-gallery-caption:before {
		position:absolute; left:-25px;
		top:1px; 
		display:inline-block;
		font-family:'Glyphicons Halflings';
		font-style:normal;
		font-weight:400;
		line-height:1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\e127";
		margin-right:5px;
	}	
	.zwide-gallery .col-xs-12 h2 {margin-top:0; font-size:20px; color:#000; line-height:140%;}
	h1, h2, .page-header {font-size:28px;}
	.zwide-gallery .col-xs-12 ul {margin-left:20px; padding-left:0; }
	.zwide-gallery .col-xs-12 li {line-height:140%; margin-bottom:10px;}
	.col-xs-12 .zoomable-thumbnail-wrapper {margin-bottom:13px; border:1px solid #ccc;}
	.zoomable-thumbnail-wrapper:hover {box-shadow: none;} 
	.col-xs-12 .competition-logo {margin-bottom:0;	text-align:center; margin:auto; padding-bottom:10px !important; margin-top:30px;}
	.col-xs-12 .competition-logo img {display:inline;}
	.competition-logo .img-responsive {max-height:80px; display:block;  margin-left:30px;}
	.col-xs-12 .ul-header { text-align:center; font-size:13px !important; color:#333;letter-spacing:0.2em; text-transform: uppercase;  margin-top:15px; }
	.competition-logo + .ul-header {margin-top:8px;}
	.competition-logo ~ ul li {list-style-type:none !important; border-top:1px  solid #f1f1f1 !important;}
	.competition-logo ~ ul {padding:0;}
	.col-xs-12 .col-xs-12 ul li {text-align:center !important;; margin-bottom:0px;  line-height:120%; padding:2px;  font-size: 16px;}
	.col-xs-12 li  {margin-bottom:0px; text-align:left; line-height:140%; padding:2px;  font-size: 16px; }
	
	.col-xs-12 .galleryrow {margin-bottom:0;}
	.col-xs-12 blockquote p {font-size:33px; line-height:110%; color:#767676; margin-top:40px; position:relative;   z-index:10;}
	.col-xs-12 blockquote {padding:0; margin: 100px 0 40px;}
	.col-md-8 blockquote:before {
		z-index:1;
		content: '“';
		font-size: 300px;
		position: absolute;
		Font-family: times, courier, serif;
		width: 70px;
		left: 0;
		top: -130px;
		color: #efefef;

		
	}
	.col-md-8 blockquote:after {display:none;}
	.col-xs-12 blockquote footer {Font-size:16px; margin-top:-5px;}
	.zpagefooter ul {margin-top:-10px;}
	.callout-button, .callout-button:hover, .callout-button:visited {background-color:transparent; font-weight:bold; font-size:16px; color:#428bcb; 
		padding:0; border-radius:0; text-shadow:none; 
		box-shadow: none ; border:0; text-decoration: none;float:none; display:block;
	}
	.callout-button-hint {display:block; text-align:center; width:100%; padding-top:0;}
	.giant-cta {font-size:27px;}
	
	
	
	.zhero-computer-example {margin-bottom:-30px;}
	.zhero-computer-example .zhero-video-container {height:auto;}
	.zhero-computer-example .zhero-video-container {background-color:#666;position:absolute; overflow:hidden; top:0; left:0; bottom:0; right:0;  }
	.zhero-computer-example .zhero-video-container video {position:absolute; min-width:200%; min-height:200%; }
	.zhero-computer-example .zhero-textbox {margin-top: 20px;}
	.zhero-computer-example .zhero-device-image { 
		/*text-align:center; margin-left: calc(( 100% / 2 ) - 165px ); 
		width: calc(100vw - (( 100% / 2 ) - 165px ) );	*/
		margin-top:10px;
		text-align:center;
		margin-left: calc(( 100% / 2 ) - 145px ); 
	}
	
	.zhero-phone-example {margin-bottom:-30px;}
	.zhero-phone-example .zhero-video-container {height:auto;}
	.zhero-phone-example .zhero-video-container {background-color:#666;position:absolute; overflow:hidden; top:0; left:0; bottom:0; right:0;  }
	.zhero-phone-example .zhero-video-container video {position:absolute; top:0; width:auto; height:100%; left:-50%;  }
	.zhero-phone-example .zhero-textbox {margin-top: 20px;}
	
	


	#main {margin-top:	15px;}
	
}
@media (min-width: 768px) and (max-width: 991px) { 

	.zhero-textbox-headline {font-size:38px;}
	.zhero-device-image {position:relative; left:30px;}
	.giant-cta {font-size:28px;}
	p {font-size:17px;}
	.col-md-8 li  {font-size:17px; line-height:140%; color:#333;  }
	.col-md-8 ul {padding-left:20px;}
	.zhero-textbox-headline {font-size:34px;}
	h1 {font-size: 30px; margin-top:60px !important;}
	h2 {font-size:24px;}
	.zhero-computer-example .zhero-device-image { margin-top:30px; margin-left:0;}
	.zhero-computer-example .zhero-textbox {margin-top:30px;}
	.zhero-computer-example .zhero-video-container {position:absolute; overflow:hidden;top:0; left:0; width:100%; height: 310px;}
	.zhero-computer-example .zhero-video-container video {position:absolute; top:-40%; left;0; width:100%;}
	.zhero-phone-example 	.zhero-video-container video {position:absolute; top:-28PX; min-height:530px;}
	.zhero-phone-example 	.zhero-textbox {margin-top:110px;}
	.zhero-phone-example 	.zhero-device-image { margin-top:30px; margin-left:-70px; position:relative; left:80px;}
	.zhero-phone-example 	.zhero-video-container {position:absolute; overflow:hidden;top:0; left:0; width:100%; height: 530px;}
	.zhero-phone-example 	.zhero-video-container video {top:auto; width:auto; position:absolute; top:auto; height:105%;}

	.zhero-scrollhint {padding: 5px 10px; position:absolute; bottom: -45px;}
	.zhero-scrollhint .glyphicon {font-size:20px; position:relative; left:3px; top:4px;}
}
@media (min-width: 992px) and (max-width: 1199px) { 
	.zhero-textbox-headline {font-size:38px;}
	h1 {font-size: 32px; margin-top:60px !important;}
	h2 {font-size:28px;}
	p {font-size:18px;}
	.giant-cta {font-size:28px;}
	.col-md-8 li  {font-size:18px; line-height:140%; color:#333; font-weight:300; }
	.zhero-computer-example .zhero-device-image {padding-left:0; margin-left:7px;}
	.zhero-computer-example .zhero-video-container {position:absolute; overflow:hidden;top:0; left:0; width:100%; height: 416px;}
	.zhero-computer-example .zhero-video-container video {position:absolute; top:-20%; left;0; width:100%;}
	.zhero-phone-example .zhero-video-container video {position:absolute; top:-28px; min-height:530px;}


 }
@media (min-width: 1120px) { 
	.zwide-gallery .col-md-10 > p {font-size:30px; margin-bottom:55px;}
	.zwide-gallery .col-sm-4  p {font-size:16px;}
}


/*-------------------- responsive hero images --------------------*/

@media (min-width: 768px) and (max-width: 991px) { 
	.zhero-computer-example .zhero-device-image  {width:360px; height:300px;} /*width should be 1.2x of height */
	.zhero-computer-example .zhero-device-screen {width:90%; height:60%; left:5%; top:6%;}
}

@media (max-width: 767px) { 
	.zhero-computer-example .zhero-device-image  {width:288px; height:240px;} /*width should be 1.2x of height */
	.zhero-computer-example .zhero-device-screen {width:90%; height:60%; left:5%; top:6%;}
}


/*.container {width: 1170px !important;}   to disable responsiveness */
/*  body {min-width:1170px !important;}     to disable responsiveness */